h1{
	position:relative;
	top: 100px;
	text-align: center;
}
h4{
	position: relative;
	top:130px;}
.white{
	color: purple;
	height:20px;
}
.white2{
	color: red;
	height:20px;
}
.navy{
	color: rgb(25,94,145);
	height: 20px;
}
.sky-blue{
	background-color: rgb(38,121,176);
	height: 40px;
}
.navy-blue{
	background-color: rgb(40,49,63);
	height: 760px;
	margin-top: 40px;
	text-align: center;
	padding-bottom: 30px;

}
.sky-blue1{
	background-color: rgb(38,121,176);
	height:60px;
	border: solid 12px;
	border-color: rgb(25,31,39);
	margin-right: 380px;
	margin-left:380px;
	margin-top: 160px;
}
.grey{
	background-color: rgb(79,91,107);
	height: 50px;
	margin-top: 100px;
	margin-left: 300px;
	margin-right: 300px;
	
}
.white3{
	background-color: white;
	height:15px;
	margin-left: 1px;
	margin-top: 180px;
	width: 80px;
}
.white4{
	background-color:white;
	height:34px;
	margin-left: 70px;
	width:11px;
}
